body{
    margin: 0;
    color: whitesmoke
}

main {
    background-color:#353535;
    display: flex;
    height: 100vh;
}

#notesList {
    width: 20vw;
    height: 80vh;
}

#noteBody {
    width: 80vw; 
}

#buttons{
    display:flex;
}

#buttons button {
    width: 33.33%;
    padding: 10px;
}
#buttons button:hover {
    color: rgb(87, 0, 128);
}

#list button:hover {
    background-color: black;
}

#list {
    height: 85%;
    background-color: #353535;
    display: flex;
    flex-direction: column;

}

textarea {
    color: whitesmoke;
    resize: none;
    width: 100%;
    height: 91%;
    background-color: #3d4447;
    border: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

textarea:focus{
    outline: none;
}

button {
    background-color: #353535;
    border: none;
    color: whitesmoke;
}

.selected {
    background-color: black;
}